* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30vh);
}

.gallery_image {
    display: block;
    height: 100%;
    width: 100%;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.image2 {
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image3 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.image4 {
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.image5 {
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}